@page
@model Altkom.Orange.RazorPages.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Customer";
}

<h2>@Request.RouteValues["Id"]</h2>

<form method="post">

    <input type="hidden" asp-for="Customer.Id" />

    <div class="form-row">
        <label asp-for="Customer.FirstName" />
        <input asp-for="Customer.FirstName" />
    </div>

    <div class="form-row">
        <label asp-for="Customer.LastName" />
        <input asp-for="Customer.LastName" />
    </div>

    <div class="form-row">
        <label asp-for="Customer.Pesel" />
        <input asp-for="Customer.Pesel" />
    </div>

    <div class="form-row">
        <label asp-for="Customer.Birthday" />
        <input asp-for="Customer.Birthday" />
    </div>


    <button type="submit" class="btn btn-success btn-block">Save</button>
</form>
